.navbar-top{
}
.navbar-top ul li{
  padding: 0px 10px;
}
.navbar-top ul li a{
  color: #564244 !important;
  font-size: 14px;
  font-weight: 300;
}
.navbar-top ul li .customButton{
 color: #fff !important;
 text-align: center;
 padding-top: 11px;
 position: relative;
}

.active{
  font-weight: bold;
  font-weight: 500 !important;
}